<!-- conteudo principal 1 -->
<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 item">
                    <div class="reviews-item item-style">
                        <div class="reviews-item-header">
                            <div class="reviews-item-img">
                                <img data-src="https://avatars.githubusercontent.com/u/134154730?v=4"
                                    class="img-cover"
                                    src="https://avatars.githubusercontent.com/u/134154730?v=4" alt="">
                            </div>
                            <div class="reviews-item-info">
                                <h4 class="reviews-item-name item-heading">Ana Beatriz Marini</h4>
                                <div class="reviews-item-position">Designer UX</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <div class="reviews-item item-style">
                        <div class="reviews-item-header">
                            <div class="reviews-item-img">
                                <img data-src="https://avatars.githubusercontent.com/u/135651519?v=4"
                                    class="img-cover"
                                    src="https://avatars.githubusercontent.com/u/135651519?v=4" alt="">
                            </div>
                            <div class="reviews-item-info">
                                <h4 class="reviews-item-name item-heading">Eduardo Noronha</h4>
                                <div class="reviews-item-position">Desenvolvedor Backend</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <div class="reviews-item item-style">
                        <div class="reviews-item-header">
                            <div class="reviews-item-img">
                                <img data-src="https://avatars.githubusercontent.com/u/81514103?v=4"
                                    class="img-cover "
                                    src="https://avatars.githubusercontent.com/u/81514103?v=4" alt="">
                            </div>
                            <div class="reviews-item-info">
                                <h4 class="reviews-item-name item-heading">Lucas Felix</h4>
                                <div class="reviews-item-position">Desenvolvedor Fullstack</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main class="container container-main">
        <!-- div semantica divir a pagina em colunas -->
        <aside>
            <h1>StreetEye</h1>
            <h3><span>Gerenciador de semaforos</span></h3>
            <p id="p-main">
                Projeto desenvolvido em Angular para prototipar operações CRUD com tema relacionado ao TCC. <br> <br>
                Desenvolvemoos uma listagem de semaforos e seus possiveis status, com a possibilidade de realizar todos as operações basicas, como: 
                <span>criar, ler, alterar excluir.</span>
            </p>
            <!-- Inputs -->
            <form>
                <button type="button" routerLink="/semaforos/" id="botao-principal">ver mais ➜</button>
            </form>
        </aside>
    
        <!-- div semantica para imagens -->
        <article>
            <img src="../../../assets/img/ilustracaoHome.jpg" alt="Ilustração" id="img-main">
        </article>
    </main>
</body>
